.logged-out-homepage .hero .hero-background {
    display: none !important;
}
.logged-out-homepage .hero .header {
    padding: 0;
    margin: 0 auto;
}
.logged-out-homepage .hero .hero-main {
    padding-top: 170px;
}
.responsive-header-search .searchbox-wrap:after {
    font: 14px FontAwesome !important;
    content: "\f002";
    color: #999;
    position: absolute;
    z-index: 1;
    display: block;
    top: 11px;
    left: 10px;
}
.rate > input:checked ~ label {
    color: #ffc700 !important;
}
.rate > label.active{
    color: #ffc700 !important;
}
a.sub-title {
    float: right;
    font-size: 18px;
    color: #000;
    font-weight: normal;
}
.logged-out-homepage .categories-list li {
    width: 24.5%;
    margin-left: 0;
    margin-right: 8px;
}