.logged-out-homepage .hero .hero-background {
    display: none !important;
}
.logged-out-homepage .hero .header {
    padding: 0;
    margin: 0 auto;
}
.logged-out-homepage .hero .hero-main {
    padding-top: 170px;
}
.responsive-header-search .searchbox-wrap:after {
    font: 14px FontAwesome !important;
    content: "\f002";
    color: #999;
    position: absolute;
    z-index: 1;
    display: block;
    top: 11px;
    left: 10px;
}
.rate > input:checked ~ label {
    color: #ffc700 !important;
}
.rate > label.active{
    color: #ffc700 !important;
}
a.sub-title {
    float: right;
    font-size: 18px;
    color: #000;
    font-weight: normal;
}
.logged-out-homepage .categories-list li {
    width: 24.5%;
    margin-left: 0;
    margin-right: 8px;
}
.fiverr-guides > h2 {
    max-width: 1400px;
    display: block !important;
    margin: 0 auto !important;
    padding-left: 30px;
}

.gig-page {
    padding-top: 150px;
}
.gig-page-wrapper.pro-gig .gig-page .star-rating-s15 {
    background-image: url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-ratings-stars-dd1e58ea1d685f280e62395e479994a3.svg),url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-ratings-stars-dd1e58ea1d685f280e62395e479994a3.svg),url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-ratings-stars-dd1e58ea1d685f280e62395e479994a3.svg),url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-ratings-stars-dd1e58ea1d685f280e62395e479994a3.svg),url(//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-ratings-stars-dd1e58ea1d685f280e62395e479994a3.svg);
}
.pro-gig .gig-page .gig-overview .seller-overview .user-info .total-rating-out-five,
.total-rating, 
.orders-in-queue{
    color: #ffc100 !important;
    font-weight: bold;
}
@media only screen and (min-width: 900px) {
    .gig-page-wrapper.pro-gig .gig-page .sidebar.poly-sticky {
        top: 150px;
    }
}
.gig-page-packages-table .boolean-pricing-factor:after {
    content: "\f164";
    color: #6cbcd6 !important;
    font-size: 25px;
}
tr.package-type td,
tr.description td{
    text-align: center !important;
}
.gig-page-packages-table .package-type .price {
    font-weight: bold;
}
